<div class="navbar-container">
	<div class="navbar-main">
		<div class="navbar navbar-expand-lg gray-nav" style="">
		    <a class="navbar-brand" href="/">
		    <%= image_tag "logo.svg", :class => "img_preview", :width => "24", :height => "24" %>
		    </a>
		    <div class="collapse navbar-collapse flex-column text-white" id="navbar-collapse">
		    	<div class="nav flex-column nav-pills">
                    <button id="drawerEl_close" class="GlobalItemInner" onclick="goBackSite();" href="#">
						<svg width="24" height="24" viewBox="0 0 24 24" focusable="false" role="presentation"><path d="M8.414 11.5H18a1 1 0 0 1 0 2H8.414l3.793 3.793a1 1 0 0 1-1.414 1.414l-5.5-5.5a1 1 0 0 1 0-1.414l5.5-5.5a1 1 0 0 1 1.414 1.414L8.414 11.5z" fill="currentColor" fill-rule="evenodd"></path></svg>
	                </button>
                </div>
		    </div>
		    <div class="d-none d-lg-block">
		        <div class="dropup">
		            <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		            <% if user_signed_in? %>
		                <%= image_tag "avatar-male-4.jpg", :class => "avatar", :alt => current_user.email %>
		            <% else %>
		            	<%= image_tag "avatar-male-4.jpg", :class => "avatar" %>
		            <% end %>
		            </a>
		            <div class="dropdown-menu">
		            	<% if user_signed_in? %>
						  
						  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'dropdown-item' %>
						  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'dropdown-item'  %>
						<% else %>
						  <%= link_to "Sign up", new_user_registration_path, :class => 'dropdown-item'  %>
						  <%= link_to "Login", new_user_session_path, :class => 'dropdown-item'  %>
						<% end %>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>

<script>
	
function goBackSite(){
	window.location = "/"
}
</script>