<p id="notice"><%= notice %></p>

<header class="app-header">
    <div class="app-header--primary">
      
        <div class="app-header--context">
          <h1 class="app-header--heading">Todos</h1>
        </div>
      
    </div>

    <div class="app-header--secondary">
        <a class="aui-button" href="/account/user/wisepos/projects/PAP/add-repositories" resolved="">
          <span class="btn btn-primary">Add repositories</span>
        </a>
   </div>
</header>

<div class="page-panel">
    <div class="page-panel-content">
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Notes</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @todos.each do |todo| %>
              <tr>
                <td><%= todo.title %></td>
                <td><%= todo.notes %></td>
                <td><%= link_to 'Show', todo %></td>
                <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
                <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Todo', new_todo_path %>
    </div>
</div>


